/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
   
/* Header styles */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation styles */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 1.3rem;
    font-weight: bold;
}

nav a:hover {
    color: #e8491d;
}

/* Main content styles */
main {
    padding: 20px;
    min-height: 72vh;
}
 img {
      width: 200px;
      height: 150px;
      object-fit: cover;
      display: flex; flex-direction: column; align-items: center;
      
    }
.about-image{
    text-align: center;
}
.about-image img {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Portfolio section styles */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.project img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

/* Footer styles */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Contact form styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #e8491d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #35424a;
}

i {
    font-size: 1.5em;
    margin-right: 10px;
}
/* Responsive styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}
/* Responsive styles */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }
}